body{
    background-image: url(plano-de-fondo.jpg);
    background-size: 35%;
}

.section{
    text-align: center;
}

.caixa{
    background-color: rgb(3, 36, 3);
    width: 50%;
    height: 300px;
    border: solid rgb(26, 11, 11) 10px;
    border-radius: 10px;
    display: inline-block;
    margin: 10%;
}

#assunto{
    border: none;
    background: none;
    margin: 10px;
    font-size: 30px;
    text-decoration: underline;
    font-family: cursive;
    color: white;
}

h1{
    font-size: 30px;
    font-family: cursive;
    color: white;
    margin: 10px 0 25px 0;
    text-decoration: underline;
}

.cajita{
    font-size: 25px;
    font-family: cursive;
    color: white;
    margin: 5% 0;
    padding: 0;
}

label{
    font-size: 20px;
    color: white;
    margin-left: 20px;
}

input{
    background: none;
    color: white;
    border: none;
    width: 5%;
    text-align: center;
    font-size: 20px;
    font-family: cursive;
}

.grau-do-C, .grau-do-m{
    display: inline-block;
    margin-left: 0;
    color: white;
    font-family: cursive;
    font-size: 20px;
    width: 7%;
}

 input[type=number]::-webkit-inner-spin-button,
    input[type=number]::-webkit-outer-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }

button{
    display: inline-block;
    background-color: rgb(3, 36, 3);
    border: solid white;
    border-radius: 5px;
    color: white;
    margin: 15px;
    font-size: 15px;
    font-family: cursive;
}

button:hover{
    cursor: pointer;
    transition: 1s;
    transform: scale(1.2);
}

select option {
    margin: 40px;
    background: black;
    color: white;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.4);
}